---
layout: page
title: Home
section: home	
---
{% include JB/setup %}

  <div class="posts">
    {% for post in paginator.posts %}
      <div class="post">
      	<h2>
    		{% for cat in post.categories %}
    			<span class="category">[{{ cat }}]</span>
      		{% endfor %}
      		<a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a>
        </h2>
        <p>{{ post.excerpt }}</p>
        <div class="dateblock">
          <span class="date">{{ post.date | date: "%d.%m.%Y" }}</span>
        </div>
        <div class="low">
          <hr />
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="prev-next">
    <p>
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="prev" title="{{ paginator.next_page }}">&larr; neuere Posts</a>
      {% else %}
          &nbsp;
      {% endif %}
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next" title="{{ paginator.previous_page }}">&auml;ltere Posts &rarr;</a>
      {% endif %}
    </p>
  </div>
    
  <div>
    <p>
      <hr />

      <a href="https://github.com/stefan2904/stefan2904.github.com/commits/master">
        <small>Zuletzt aktualisiert am {{ site.time | date: "%d.%m.%Y" }}</small>
      </a>
    </p>
  </div>