<div id="page">
	
  <!---
  <h1 class="emphnext">{% for cat in page.categories %}<span class="category">[{{ cat }}]</span> {% endfor %}{{ page.title }}</h1>
  -->
  
  {{ content }}
  
   {% if page.sourceurl %}
     (via
    <a href="{{ page.sourceurl }}" class="next" title="{{ page.source }}">{{ page.source }}</a>
      )
  {% endif %}

  <div class="dateblock">
    <span class="date">{{ page.date | date: "%d.%m.%Y" }}</span>

<!--
  <ul class="tag_box">
    {% assign tags_list = page.tags %}
    {% include JB/tags_list %}
  </ul>
-->
  </div>

  <div class="prev-next">
  {% if page.next %}
    <a href="{{ page.next.url }}" class="prev" title="{{ page.next.title }}">&larr;</a>
  {% endif %}
  {% if page.previous %}
    <a href="{{ page.previous.url }}" class="next" title="{{ page.previous.title }}"> &rarr;</a>
  {% endif %}
  </div>
  
</div><!-- End Page -->

{% include JB/comments %}
